/* line 5, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "iconfont";
  src: url("fonts/icons/iconfont.eot?t=1458284864");
  /* IE9*/
  src: url("fonts/icons/iconfont.eot?t=1458284864#iefix") format("embedded-opentype"), url("fonts/icons/iconfont.woff?t=1458284864") format("woff"), url("fonts/icons/iconfont.ttf?t=1458284864") format("truetype"), url("fonts/icons/iconfont.svg?t=1458284864#iconfont") format("svg");
  /* iOS 4.1- */
}
/* line 9, ../sass/_icon.scss */
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

/* line 17, ../sass/_icon.scss */
.icon-gouwuche:before {
  content: "\e605";
}

/* line 18, ../sass/_icon.scss */
.icon-shequ:before {
  content: "\e600";
}

/* line 19, ../sass/_icon.scss */
.icon-edit:before {
  content: "\e60a";
}

/* line 20, ../sass/_icon.scss */
.icon-fanhui:before {
  content: "\e606";
}

/* line 21, ../sass/_icon.scss */
.icon-fanhui1:before {
  content: "\e60b";
}

/* line 22, ../sass/_icon.scss */
.icon-gouwuche1:before {
  content: "\e601";
}

/* line 23, ../sass/_icon.scss */
.icon-shouye:before {
  content: "\e602";
}

/* line 24, ../sass/_icon.scss */
.icon-sousuo:before {
  content: "\e607";
}

/* line 25, ../sass/_icon.scss */
.icon-liwu:before {
  content: "\e603";
}

/* line 26, ../sass/_icon.scss */
.icon-lianxiren:before {
  content: "\e604";
}

/* line 27, ../sass/_icon.scss */
.icon-shanchu:before {
  content: "\e60c";
}

/* line 28, ../sass/_icon.scss */
.icon-shangpinguanli:before {
  content: "\e60d";
}

/* line 29, ../sass/_icon.scss */
.icon-weibiaoti101:before {
  content: "\e608";
}

/* line 30, ../sass/_icon.scss */
.icon-caidan:before {
  content: "\e609";
}

/* line 6, ../sass/common.scss */
a {
  text-decoration: none;
}

/* line 9, ../sass/common.scss */
body {
  margin: 0 auto;
  font-family: Helvetica, sans-serif, microsoft yahei !important;
  font-size: 100%;
  background: #fff;
  color: #666;
  min-width: 320px;
  max-width: 640px;
}

/* line 20, ../sass/common.scss */
.backtop {
  position: fixed;
  right: 1rem;
  bottom: 3.75rem;
  font-size: 35px !important;
  color: #666;
  display: none;
}

/* line 4, ../sass/_footer.scss */
#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  border-top: 1px solid #e1e1e1;
  background: rgba(255, 255, 255, 0.9);
  z-index: 100;
}
/* line 13, ../sass/_footer.scss */
#footer ul {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

/* line 20, ../sass/_footer.scss */
.menuitem {
  margin-top: 5px;
  width: 20%;
  text-align: center;
  font-size: 0.75rem;
  flex: 1;
}
/* line 26, ../sass/_footer.scss */
.menuitem a {
  color: #666;
}
/* line 28, ../sass/_footer.scss */
.menuitem a p {
  line-height: 1.5rem;
}
/* line 32, ../sass/_footer.scss */
.menuitem .iconfont {
  font-size: 20px;
}

/* line 37, ../sass/_footer.scss */
.menuitem.curr {
  color: #e3393c;
}
/* line 39, ../sass/_footer.scss */
.menuitem.curr a {
  color: #e3393c;
}

/* line 44, ../sass/_footer.scss */
.menuitem.sec .iconfont {
  font-size: 19px;
}
/* line 47, ../sass/_footer.scss */
.menuitem.sec p {
  margin-top: 1px;
}

/* line 51, ../sass/_footer.scss */
.center {
  margin-top: -22px;
}
/* line 53, ../sass/_footer.scss */
.center span {
  display: inline-block;
  width: 48px;
  height: 48px;
  line-height: 48px;
  border: 1px solid #bebebe;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: #fff;
}
/* line 62, ../sass/_footer.scss */
.center .iconfont {
  font-size: 28px;
}
