@charset "UTF-8";
/* 棣栭〉鏍峰紡 */
/* line 5, ../sass/index.scss */
body {
  background: #ecf0f1;
}

/* line 8, ../sass/index.scss */
.content {
  padding-bottom: 70px;
}

/* line 11, ../sass/index.scss */
.banner {
  width: 100%;
  position: relative;
  min-height: 100px;
}
/* line 15, ../sass/index.scss */
.banner img {
  vertical-align: top;
}
/* line 18, ../sass/index.scss */
.banner .index-icon {
  position: absolute;
  left: 0;
  bottom: 10px;
  text-align: center;
  width: 100%;
}
/* line 24, ../sass/index.scss */
.banner .index-icon i {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #6a6666;
  margin-right: 5px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 32, ../sass/index.scss */
.banner .index-icon .curr {
  background: #e3393c;
}

/* line 37, ../sass/index.scss */
.suggest-title-list {
  margin-top: 5px;
  border-bottom: 1px solid #f0f0f0;
}

/* line 41, ../sass/index.scss */
.suggest-title-list2 {
  margin-bottom: 10px;
}

/* line 44, ../sass/index.scss */
.content-container {
  width: 100%;
  margin-bottom: 5px;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 50, ../sass/index.scss */
.content-container .col {
  width: 50%;
  height: 100%;
  position: relative;
}
/* line 56, ../sass/index.scss */
.content-container .col-l:after {
  height: 100%;
  content: '';
  width: 1px;
  border-right: 1px solid #f0f0f0;
  position: absolute;
  top: 0;
  right: -1px;
  -moz-transform: scaleX(0.5);
  -ms-transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  transform: scaleX(0.5);
  z-index: 10;
}
/* line 68, ../sass/index.scss */
.content-container .col-bottom {
  margin-top: 1px;
}
/* line 71, ../sass/index.scss */
.content-container img {
  width: 100%;
  display: block;
}

/* line 77, ../sass/index.scss */
.suggest-title {
  padding: 0 10px;
  height: 50px;
  line-height: 50px;
  background: #fff;
}
/* line 78, ../sass/index.scss */
.suggest-title h2 {
  line-height: 50px;
  color: #e3393c;
  font-size: 1.125rem;
  display: inline;
}
/* line 84, ../sass/index.scss */
.suggest-title .more {
  float: right;
  text-decoration: none;
  color: #666;
  font-size: 0.75rem;
}
/* line 89, ../sass/index.scss */
.suggest-title .more:hover {
  color: #e3393c;
}
/* line 94, ../sass/index.scss */
.conent-suggest .goodlist {
  padding: 2%;
}
/* line 96, ../sass/index.scss */
.conent-suggest .goodlist .item-col {
  display: inline-block;
  width: 46%;
  margin: 1.5%;
  background: #fff;
  -moz-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.35);
}
/* line 102, ../sass/index.scss */
.conent-suggest .goodlist .item-col p {
  line-height: 1.5rem;
  padding: 0 5px;
}
/* line 106, ../sass/index.scss */
.conent-suggest .goodlist .item-col .title {
  font-size: 0.875rem;
  color: #666;
  height: 3rem;
  overflow: hidden;
}
/* line 112, ../sass/index.scss */
.conent-suggest .goodlist .item-col .price {
  color: #e3393c;
}
/* line 114, ../sass/index.scss */
.conent-suggest .goodlist .item-col .price strong {
  font-weight: bolder;
}

/* line 123, ../sass/index.scss */
.sale-order .itemlist .item {
  padding: 1% 2%;
  background: #fff;
  margin-bottom: 5px;
}
/* line 127, ../sass/index.scss */
.sale-order .itemlist .item a {
  width: 100%;
  display: block;
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
/* line 134, ../sass/index.scss */
.sale-order .itemlist .item .col-mainpic {
  width: 30%;
  position: relative;
}
/* line 137, ../sass/index.scss */
.sale-order .itemlist .item .col-mainpic .index {
  position: absolute;
  left: 0;
  top: 5px;
  width: 20px;
  line-height: 20px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  font-size: 0.75rem;
  background: #dcdcdc;
}
/* line 149, ../sass/index.scss */
.sale-order .itemlist .item .col-mainpic .index.before {
  background: #5999fd;
}
/* line 152, ../sass/index.scss */
.sale-order .itemlist .item .col-mainpic img {
  vertical-align: top;
}
/* line 154, ../sass/index.scss */
.sale-order .itemlist .item .col-desc {
  margin-left: 7%;
  width: 63%;
}
/* line 157, ../sass/index.scss */
.sale-order .itemlist .item .col-desc .title {
  margin: 10px 0;
  max-height: 3rem;
  line-height: 1.5rem;
  color: #333;
}
/* line 164, ../sass/index.scss */
.sale-order .itemlist .item .col-desc .price {
  color: #e3393c;
  line-height: 1.5rem;
}
/* line 167, ../sass/index.scss */
.sale-order .itemlist .item .col-desc .price b {
  font-weight: bolder;
}
/* line 169, ../sass/index.scss */
.sale-order .itemlist .item .col-desc .soldnum {
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: gray;
}
/* line 175, ../sass/index.scss */
.sale-order .itemlist .item img {
  width: 100%;
  height: 100%;
}

/* line 182, ../sass/index.scss */
.swiper-pagination-bullet-active {
  background: #e3393c !important;
}
