<!DOCTYPE html>
<html>
<head>
	<title>{{ product.title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/style/stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="/style/stylesheets/detail.css">
</head>
<body>
	<header>
		<a href="" class="backbutton iconfont">&#xe606;</a>
		<h1>商品详情</h1>
		<a href="" class="cartbutton iconfont">&#xe605; <em class="cartnum">1</em></a>
	</header>
	<div class="content">
		<div class="bannerImg">
			<ul>
				<li><img src="{{ product.img }}" alt="" width="100%"></li>
			</ul>
			<!--<p class="index-icon">
				<i class="curr"></i>
				<i></i>
				<i></i>
			</p>-->
		</div>
		<section class="detailbox">
			<div class="specification">
				<div class="col-item">商品规格</div>
				<div class="col-item col-select">
					<h2 class="sizetit">产品：</h2>
					<ul class="sizelist">
						<li class="item curr">{{ product.title }}</li>
					</ul>
				</div>
				<div class="col-item col-select">
					<h2 class="sizetit">规格：</h2>
					<ul class="sizelist">
						<li class="item curr">200片</li>
						<li class="item">100片</li>
						<li class="item">30片</li>
					</ul>
				</div>
				<div class="col-item col-select col-last">
					<h2 class="sizetit">数量：</h2>
					<ul class="sizelist">
						<li>
							<span class="ui-number">
								<button>+</button>
								<input type="text" value="1">
								<button>-</button>
							</span>
						</li>
						<li class="reserve">
							<span class="num">100</span>件库存
						</li>
					</ul>
				</div>
			</div>
			<div class="desc">
					<h2>商品信息</h2>
					<div class="descbox">
						{{ product.detail }}
					</div>
				</div>
		</section>
	</div>
	<div id="footer">
		<ul>
			<li class="menuitem curr"><a href=""><i class="icon iconfont">&#xe602;</i><p>首页</p></a></li>
			<li class="menuitem"><a href=""><i class="icon iconfont">&#xe601;</i><p>购物车</p></a></li>
			<li class="menuitem center"><a href=""><span><i class="icon iconfont">&#xe603;</i></span><p>积分商城</p></a></li>
			<li class="menuitem"><a href=""><i class="icon iconfont">&#xe600;</i><p>家人说</p></a></li>
			<li class="menuitem"><a href=""><i class="icon iconfont">&#xe604;</i><p>我</p></a></li>
		</ul>
	</div>
	<a href="#top" class="backtop iconfont">&#xe608;</a>
</body>
</html>
