<!DOCTYPE html>
<html>
<head>
	<title>{{ title }}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="/style/stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="/style/stylesheets/list.css">
</head>
<body>
	<div class="headbar">
		<div class="menubutton">
			<a href="javascript:;"><i class="iconfont">&#xe609;</i></a>
			
		</div>
		<ul class="grounpList">
			<li class="col curr"><a href="">默认</a></li>
			<li class="col"><a href="">销量</a></li>
			<li class="col"><a href="">人气</a></li>
			<li class="col"><a href="">价格</a></li>
		</ul>
		<div class="searchbutton">
			<a href="javascript:;"><i class="iconfont">&#xe607;</i></a>

		</div>	
	</div>
	<ul class="pagenav">
		<li class="col-group"><a href="">分类1</a></li>
		<li class="col-group"><a href="">分类2</a></li>
		<li class="col-group"><a href="">分类3</a></li>
	</ul>
	<div class="searchbox">
		<form action="">
			<div class="inputbox">
				<input type="text">
				<input type="submit" class="iconfont" value="&#xe607;">
				<!-- <button></button> -->
			</div>
		</form>
	</div>
	<div class="content">
		<ol class="goodslist">
			{{ each products }}
			<li class="item"><a href="/products/{{ $value.id }}" title="{{ $value.title }}">
					<img src="{{ $value.img }}" alt="" width="100%">
					<p class="title">{{ $value.title }}</p>
					<p class="price">&yen;<strong>{{ $value.price }}</strong></p>
				</a></li>
			{{ /each }}
		</ol>
		<a href="" class="more">查看更多</a>
	</div>
	<div id="footer">
		<ul>
			<li class="menuitem curr"><a href=""><i class="icon iconfont">&#xe602;</i><p>首页</p></a></li>
			<li class="menuitem"><a href=""><i class="icon iconfont">&#xe601;</i><p>购物车</p></a></li>
			<li class="menuitem center"><a href=""><span><i class="icon iconfont">&#xe603;</i></span><p>积分商城</p></a></li>
			<li class="menuitem"><a href=""><i class="icon iconfont">&#xe600;</i><p>家人说</p></a></li>
			<li class="menuitem"><a href=""><i class="icon iconfont">&#xe604;</i><p>我</p></a></li>
		</ul>
	</div>
	<a href="#top" class="backtop iconfont">&#xe608;</a>
</body>
</html>
