<!DOCTYPE html>
<html>
<head>
	<title>莲香岛商城</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="style/stylesheets/common.css">
	<link rel="stylesheet" type="text/css" href="style/stylesheets/index.css">
</head>
<body>
	<div class="content">
		<section>
			<div class="banner">
				<a href=""><img width="100%" src="userimg/userimg.jpg" alt=""></a>
				<p class="index-icon">
					<i class="curr"></i>
					<i></i>
					<i></i>
					<i></i>
				</p>
			</div>
		</section>
		<section>
			<ul class="content-list">
				<li class="item-col">
					<a href=""><img src="userimg/userimg2.jpg" alt="" width="100%"></a>
					<a href=""><img src="userimg/userimg2.jpg" alt="" width="100%"></a>
					<a href=""><img src="userimg/userimg2.jpg" alt="" width="100%"></a>
				</li>
			</ul>
		</section>
		<section>
			<div class="conent-suggest">
				<div class="suggest-title">
					<h2>推荐</h2>
					<a href="" class="more">更多</a>
				</div>
				<ul class="goodlist">
					<li class="item-col"><a href="">
						<img src="userimg/userimg3.jpg" alt="" width="100%">
						<p class="title">雪莲女人滋养贴（200片）</p>
						<p class="price">&yen;<strong>998</strong></p>
					</a></li>
					<li class="item-col"><a href="">
						<img src="userimg/userimg3.jpg" alt="" width="100%">
						<p class="title">雪莲女人滋养贴（200片）</p>
						<p class="price">&yen;<strong>998</strong></p>
					</a></li>
					<li class="item-col"><a href="">
						<img src="userimg/userimg3.jpg" alt="" width="100%">
						<p class="title">雪莲女人滋养贴（200片）</p>
						<p class="price">&yen;<strong>998</strong></p>
					</a></li>
					<li class="item-col"><a href="">
						<img src="userimg/userimg3.jpg" alt="" width="100%">
						<p class="title">雪莲女人滋养贴（200片）</p>
						<p class="price">&yen;<strong>998</strong></p>
					</a></li>
					<li class="item-col"><a href="">
						<img src="userimg/userimg3.jpg" alt="" width="100%">
						<p class="title">雪莲女人滋养贴（200片）</p>
						<p class="price">&yen;<strong>998</strong></p>
					</a></li>
				</ul>
			</div>
		</section>
	</div>
	<div id="footer">
		<ul>
			<li class="menuitem curr"><a href=""><i class="icon iconfont">&#xe602;</i><p>首页</p></a></li>
			<li class="menuitem"><a href=""><i class="icon iconfont">&#xe601;</i><p>购物车</p></a></li>
			<li class="menuitem center"><a href=""><span><i class="icon iconfont">&#xe603;</i></span><p>积分商城</p></a></li>
			<li class="menuitem"><a href=""><i class="icon iconfont">&#xe600;</i><p>家人说</p></a></li>
			<li class="menuitem"><a href=""><i class="icon iconfont">&#xe604;</i><p>我</p></a></li>
		</ul>
	</div>
</body>
</html>
