<%- include header %>
        <form method="post">
        <p>标题：</p>
        <input type="text" id="title" name="title" >
        <p>tag:</p>
        <input type="text" name="tag1"><input type="text" name="tag2"><input type="text" name="tag3">
        <p>正文：</p>
        <textarea name="post" id="detail" cols="30" rows="10"></textarea>
        <p><input type="submit" value="发布" ></p>
        </form>
<%- include footer %>
