<br />
<div>
	<%	if (!isFirstPage){  %>
	<span class="prepage"><a href="?p=<%= page -1 %>" title="pre page">pre</a></span>
	<% } %>

	<%	if (!isLastPage){  %>
	<span class="nextpage"><a href="?p=<%= page +1 %>" title="next page">next</a></span>
	<% } %>
</div>