<%- include header %>
        <form action="/reg" method="post">
            <p>
                <label for="name">用户名：<input type="text" id="name" name="name"/></label>
            </p>
            <p>
                <label for="pwd">密码：<input type="password" id="pwd" name="password"/></label>
            </p>
            <p>
                <label for="repwd">确认密码：<input type="password" id="repwd" name="password-repeat"/></label>
            </p>
            <p>
                <label for="email">邮箱：<input type="email" id="email" name="email"/></label>
            </p>
            <p>
                <input type="submit" value="注册"/>
            </p>
        </form>
<%- include footer %>
